In [120]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split

In [121]:
df=pd.read_csv('Churn_Modelling.csv')

In [122]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [124]:
df.duplicated().sum()

0

In [125]:
df['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [126]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [127]:
l=['RowNumber','CustomerId','Surname']

In [128]:
df=df.drop(l,axis=1)

In [129]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [130]:
df=pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True)

In [131]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,0,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,1,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,0,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,0,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,False,False,True
9996,516,35,10,57369.61,1,1,1,101699.77,0,False,False,True
9997,709,36,7,0.00,1,0,1,42085.58,1,False,False,False
9998,772,42,3,75075.31,2,1,0,92888.52,1,True,False,True
9999,792,28,4,130142.79,1,1,0,38190.78,0,False,False,False

In [132]:
x=df.drop(columns='Exited')
y=df['Exited']

In [133]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [134]:
from sklearn.preprocessing import StandardScaler

In [135]:
scaler=StandardScaler()

In [136]:
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [137]:
import tensorflow
from tensorflow import keras

In [138]:
from tensorflow.keras import Sequential

In [139]:
from tensorflow.keras.layers import Dense

In [140]:
model=Sequential()
model.add(Dense(3,activation='sigmoid',input_dim=11))
model.add(Dense(1,activation='sigmoid'))

In [141]:
model.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 3)                 36

 dense_11 (Dense)            (None, 1)                 4

=================================================================
Total params: 40
Trainable params: 40
Non-trainable params: 0
_________________________________________________________________

In [142]:
model.compile(loss='binary_crossentropy', optimizer='Adam', metrics=['accuracy'])

In [143]:
model.fit(x_train_scaled,y_train,epochs=100)

Epoch 1/100

250/250 [==============================] - 2s 2ms/step - loss: 0.4903 - accuracy: 0.7974
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4587 - accuracy: 0.7972
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4468 - accuracy: 0.7971
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4395 - accuracy: 0.7981
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4347 - accuracy: 0.8030
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4311 - accuracy: 0.8067
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4285 - accuracy: 0.8109
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4265 - accuracy: 0.8123
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4249 - accuracy: 0.8140
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4234 - accuracy: 0.8160
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4219 - accuracy: 0.8163
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4206 - accuracy: 0.8189
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4193 - accuracy: 0.8188
Epoch 14/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4179 - accuracy: 0.8214
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4166 - accuracy: 0.8216
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4151 - accuracy: 0.8219
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4135 - accuracy: 0.8231
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4118 - accuracy: 0.8249
Epoch 19/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4102 - accuracy: 0.8245
Epoch 20/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4083 - accuracy: 0.8260
Epoch 21/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4065 - accuracy: 0.8274
Epoch 22/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4048 - accuracy: 0.8278
Epoch 23/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4031 - accuracy: 0.8278
Epoch 24/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4015 - accuracy: 0.8295
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4001 - accuracy: 0.8306
Epoch 26/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3988 - accuracy: 0.8315
Epoch 27/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3976 - accuracy: 0.8309
Epoch 28/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3965 - accuracy: 0.8322
Epoch 29/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3954 - accuracy: 0.8329
Epoch 30/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3944 - accuracy: 0.8332
Epoch 31/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3934 - accuracy: 0.8344
Epoch 32/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3926 - accuracy: 0.8341
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3917 - accuracy: 0.8356
Epoch 34/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3909 - accuracy: 0.8363
Epoch 35/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3901 - accuracy: 0.8370
Epoch 36/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3892 - accuracy: 0.8370
Epoch 37/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3883 - accuracy: 0.8380
Epoch 38/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3874 - accuracy: 0.8385
Epoch 39/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3864 - accuracy: 0.8385
Epoch 40/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3855 - accuracy: 0.8401
Epoch 41/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3846 - accuracy: 0.8411
Epoch 42/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3837 - accuracy: 0.8409
Epoch 43/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3829 - accuracy: 0.8415
Epoch 44/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3821 - accuracy: 0.8420
Epoch 45/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3815 - accuracy: 0.8420
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3808 - accuracy: 0.8426
Epoch 47/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3801 - accuracy: 0.8421
Epoch 48/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3796 - accuracy: 0.8425
Epoch 49/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3791 - accuracy: 0.8426
Epoch 50/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3785 - accuracy: 0.8432
Epoch 51/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3780 - accuracy: 0.8444
Epoch 52/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3775 - accuracy: 0.8444
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3771 - accuracy: 0.8446
Epoch 54/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3766 - accuracy: 0.8447
Epoch 55/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3762 - accuracy: 0.8456
Epoch 56/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3758 - accuracy: 0.8456
Epoch 57/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3754 - accuracy: 0.8457
Epoch 58/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3751 - accuracy: 0.8468
Epoch 59/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3747 - accuracy: 0.8465
Epoch 60/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3743 - accuracy: 0.8464
Epoch 61/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3740 - accuracy: 0.8472
Epoch 62/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3737 - accuracy: 0.8464
Epoch 63/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3733 - accuracy: 0.8480
Epoch 64/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3730 - accuracy: 0.8480
Epoch 65/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3727 - accuracy: 0.8482
Epoch 66/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3723 - accuracy: 0.8490
Epoch 67/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3720 - accuracy: 0.8491
Epoch 68/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3716 - accuracy: 0.8494
Epoch 69/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3714 - accuracy: 0.8486
Epoch 70/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3711 - accuracy: 0.8504
Epoch 71/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3707 - accuracy: 0.8495
Epoch 72/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3705 - accuracy: 0.8505
Epoch 73/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3702 - accuracy: 0.8512
Epoch 74/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3699 - accuracy: 0.8509
Epoch 75/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3697 - accuracy: 0.8504
Epoch 76/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3693 - accuracy: 0.8509
Epoch 77/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3690 - accuracy: 0.8508
Epoch 78/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3687 - accuracy: 0.8509
Epoch 79/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3684 - accuracy: 0.8524
Epoch 80/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3682 - accuracy: 0.8522
Epoch 81/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3679 - accuracy: 0.8518
Epoch 82/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3676 - accuracy: 0.8536
Epoch 83/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3673 - accuracy: 0.8536
Epoch 84/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3671 - accuracy: 0.8526
Epoch 85/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3667 - accuracy: 0.8531
Epoch 86/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3665 - accuracy: 0.8522
Epoch 87/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3662 - accuracy: 0.8546
Epoch 88/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3660 - accuracy: 0.8541
Epoch 89/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3657 - accuracy: 0.8534
Epoch 90/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3654 - accuracy: 0.8541
Epoch 91/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3651 - accuracy: 0.8546
Epoch 92/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3649 - accuracy: 0.8539
Epoch 93/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3646 - accuracy: 0.8555
Epoch 94/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3644 - accuracy: 0.8558
Epoch 95/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3641 - accuracy: 0.8546
Epoch 96/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3639 - accuracy: 0.8543
Epoch 97/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3637 - accuracy: 0.8549
Epoch 98/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3634 - accuracy: 0.8547
Epoch 99/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3631 - accuracy: 0.8546
Epoch 100/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3628 - accuracy: 0.8551

In [144]:
y_log=model.predict(x_test_scaled)

63/63 [==============================] - 0s 2ms/step

In [145]:
y_pred=np.where(y_log>0.5,1,0)

In [146]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8515